<html>
    <% include header %>
    <h4>Create Bitcoin Wallet</h4>
    <form action="wallet" method="POST">
        <input type="text" name="source">
        <input type="submit" value="GO">
    </form>
</html>